@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  height: 100vh;
  text-align: center;
   
}


.page-title {
    text-align: center;
    margin-top: 50px;
	font-size: 40px;
    font-family: 'Nabla', cursive;
    margin-bottom: 4em;
  }


.card {
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
    display: inline-block;
    position: relative;
    background: #aaa;
    margin: 0 auto;
    margin-left: 2em;
}

.card__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__checkbox {
	display: none;
}

.card__checkbox:checked + label {
	background-color: green;
}

.card__checkbox:checked ~ .card__checkbox:checked + label {
	background-color: green;
}

.card:hover {
	background-color: #ddd;
}

.card:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.card:hover:after {
	opacity: 1;
}

.card__label {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.card__label::after {
    background: rgba(255, 255, 255, 0.8);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

.card__label img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 2;
}

.card__checkbox:checked + label img {
	opacity: 1;
}

.card__checkbox:checked ~ .card-checkbox:checked + label img {
	opacity: 1;
}

.matched {
	pointer-events: none;
}

@media (max-width: 768px) {
	.game-container {
		max-width: 500px;
		margin: 0 auto;
	}
}
