.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
    .player-container,
    .computer-container {
      width: 30%;
      text-align: center;
    }
    .player-title,
    .computer-title {
      margin-bottom: 10px;
    }
    .player-choice-container,
    .computer-choice-container {
      display: flex;
      justify-content: space-between;
    }
    .player-choice,
    .computer-choice {
      width: 80px;
      height: 40px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }
    .player-choice.rock,
    .computer-choice.rock {
      background-color: #F44336;
      color: #fff;
    }
    .player-choice.paper,
    .computer-choice.paper {
      background-color: #2196F3;
      color: #fff;
    }
    .player-choice.scissors,
    .computer-choice.scissors {
      background-color: #4CAF50;
      color: #fff;
    }
    .result-container {
      width: 30%;
      text-align: center;
    }
    .result-title {
      margin-bottom: 10px;
    }
    .result-text {
      font-size: 24px;
      font-weight: bold;
    }

    .rematch {
    width: 80px;
      height: 40px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      background: gold;
      align-items: center;
      margin: 0;
      position: absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
  