$background-color-brown: #4b2e2e;
$border-container-color-gold: goldenrod;
$card-boarder-black: black;
$card-background-grey: #aaa;
$card-hover-white: rgb(69, 61, 61);
$card-label-color-white: rgba(255, 255, 255, 0.8);
$standard-border-radius: 10px;
$standard-width: 100%;
$standard-height: 100%;
